*,
*::before,
*::after {
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  width: min(90%, 700px);
}
.hero {
  width: 60%;
  margin: 0 auto;
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
img {
  width: 100%;
}
.projects {
  text-align: center;
  padding: 1em 0;
}

.cards {
  width: 70%;
  margin: 0 auto;
}

@media (min-width: 700px) {
  .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
  }

  .card {
    padding: 2em 0;
  }
}
